@import "bootstrap";

.search-area {
  padding-top: 50px;
}

.results-block {
    display: inline-block;
    margin-bottom: 2rem;
}

.logout-button {
    margin-right: 5px;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
}

.nav-link {
  color: white !important;
}

#vert-menu a {
  color: blue !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
 display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
} 
