<ul id="vert-menu" class="nav flex-column">
  <li class="nav-item vert-menu">
    <span> <i class="fas fa-edit"></i> <a id="link1" class="nav-link active" href="#">Active</a></span>
  </li>
  <li class="nav-item">
    <a id="link2" class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a id="link3" class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a id="link4" class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
